---
import Base from "@/layouts/Base.astro";
---

<Base meta={{ title: "Sobre" }}>
  <h2 class="text-2xl font-heading tracking-wide w500:text-lg">Sobre</h2>

  <div class="mt-4 tracking-wide w500:text-sm w500:leading-[2.2]">
    <p>
      Este é o meu blog pessoal, onde falarei sobre programação, tecnologia e
      outros assuntos que me interessam. O design faz parte do template de blog
      neobrutalismo. Verifique o <a
        class="underline"
        target="_blank"
        href="https://github.com/neobrutalism-templates/blog">repositório</a
      > para mais info.
    </p>
  </div>
</Base>
