---
import config from "@/config";
import { getCollection } from "astro:content";

import Base from "@/layouts/Base.astro";
import PostPreview from "@/components/PostPreview.astro";

const allPosts = await getCollection("posts");
---

<Base meta={{ title: config.title }}>
  <div class="w700:grid-cols-1 grid grid-cols-2 gap-5">
    {
      allPosts
        .sort(
          (a, b) =>
            new Date(b.data.pubDate).valueOf() -
            new Date(a.data.pubDate).valueOf(),
        )
        .map((post) => (
          <PostPreview
            url={post.id.replace(".md", "")}
            title={post.data.title}
            description={post.data.description}
            pubDate={new Date(post.data.pubDate).toLocaleDateString("pt-BR", { day: "2-digit", month: "2-digit", year: "numeric" })}
            image={post.data.image}
          />
        ))
    }
  </div>
</Base>
